
body{
    background-color:#f7f7f7;
}
.ml_40{
    margin-left: 40px;
}
.ml_20{
    margin-left: 20px;
}
.ml_10{
    margin-left: 10px;
}
.mt_t5{
    margin-top: 5px;
}
.mt_t60{
    margin-top:  60px;
}
.mt_t30{
    margin-top:  30px;
}
.mt_t20{
    margin-top: 20px;
}
.mt_t15{
    margin-top: 15px;
}
.mt_t10{
    margin-top: 10px;
}
.mb_50{
    margin-bottom: 50px;
}
.mb_40{
    margin-bottom: 40px;
}
.mb_30{
    margin-bottom: 30px;
}
.mb_20{
    margin-bottom: 20px;
}
.mb_15{
    margin-bottom: 15px;
}
.mb_10{
    margin-bottom: 10px;
}
.mb_5{
    margin-bottom: 5px;
}
.no_mb{
    margin-bottom: 0px;
}
.mr_5{
    margin-right: 5px;
}
.mr_10{
    margin-right: 10px;
}
.mr_20{
    margin-right: 20px;
}
.mr_30{
    margin-right: 30px;
}
.padding_5{
    padding: 5px 5px !important;
}
.padding_15{
    padding: 15px 15px !important;
}
.padding_10{
    padding: 10px 10px !important;
}
.padding_lr15{
    padding: 0px 15px;;
}
.padding_lr40{
    padding: 0px 40px;;
}
.nopadding{
    padding: 0 !important;
}
.padding_lef_38{
    padding-left: 38px;
}
.nomargin_bottom{
    margin-bottom: 0px !important;
}
.bold{
    font-weight: bold;
}
.blue{
    color: blue !important;
}
.vivid_blue{
    color: #09a7fd !important;
}
.strong_blue{
    color: #0288d1;
}
.red{
    color: red !important;
}
.dark_grayish_cyan{
    color: #879390;
}
.font_size_init{
    font-size:initial;
}
.display_none{
    display: none;
}
.row_mr0{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.float_right{
    float: right;
}
.float_left{
    float: left;
}
.font_size_30{
    font-size: 30px;
}
.fs_xx-large{
    font-size: xx-large;
}
.bg-dark-des{
    background-color: #2f4355;
}
.width_50{
    width: 50px;
}
.lh_5{
    line-height: 5px;
}
.lh_20{
    line-height: 20px;
}
.active_row{
    background-color: #ffffb3;
}
